<div class="container text-center">
  <br />
  <form #createanimalform="ngForm" (ngSubmit)="createAnimal()">
    <div class="form-group">
      <label for="name">Name:</label>
      <input
        type="text"
        class="form-control"
        name="name"
        required
        [(ngModel)]="animal.name"
      />
    </div>
    <div class="form-group">
      <label for="age">Age:</label>
      <input
        type="text"
        class="form-control"
        name="age"
        required
        [(ngModel)]="animal.age"
      />
    </div>
    <div class="form-group">
      <label for="color">Color:</label>
      <input
        type="text"
        class="form-control"
        name="color"
        required
        [(ngModel)]="animal.color"
      />
    </div>
    <div class="form-group">
      <label for="type">Type:</label>
      <input
        type="text"
        class="form-control"
        name="type"
        required
        [(ngModel)]="animal.type"
      />
    </div>
    <div class="form-group">
      <label for="price">Price:</label>
      <input
        type="text"
        class="form-control"
        name="price"
        required
        [(ngModel)]="animal.price"
      />
    </div>
    <div class="form-group">
      <label for="image">IMAGE:</label>
      <input
        type="file"
        class="form-control"
        name="image"
        required
        [(ngModel)]="animal.image"
      />
    </div>
    <br />
    <button type="submit" class="btn btn-info">
      Click here to create an animal
    </button>
  </form>
</div>
