<div class="container">
  <br />
  <br />
  <form #loginform="ngForm" (ngSubmit)="loginUser()">
    <p class="text-danger">{{ msg }}</p>
    <div class="form-group">
      <label for="email">Email address:</label>
      <input
        type="email"
        class="form-control"
        name="email"
        [(ngModel)]="user.email"
        required
        pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
        #email="ngModel"
        [class.is-invalid]="email.invalid && email.touched"
      />
      <div *ngIf="email.errors && email.invalid && email.touched">
        <small class="text-danger" *ngIf="email.errors.required"
          >Email Id is required field</small
        >
        <small class="text-danger" *ngIf="email.errors.pattern"
          >Enter the valid value of the email</small
        >
      </div>
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input
        type="password"
        class="form-control"
        name="password"
        [(ngModel)]="user.password"
        required
        #password="ngModel"
        [class.is-invalid]="password.invalid && password.touched"
      />
    </div>
    <small
      class="text-danger"
      [class.d-none]="password.valid || password.untouched"
    >
      Pasword is required field</small
    >
    <div class="checkbox">
      <label><input type="checkbox" /> Remember me</label>
    </div>
    <button
      [disabled]="loginform.form.invalid"
      type="submit"
      class="btn btn-info"
    >
      Log In
    </button>
  </form>
  <p class="text-end" (click)="goToRegistration()">New User ? Register here</p>
</div>
