<div class="container">
  <br />
  <br />
  <form #registrationform="ngForm" (ngSubmit)="registerUser()">
    <small class="text-danger">{{ msg }}</small>
    <div class="form-group">
      <label for="email">Email address:</label>
      <input
        type="email"
        class="form-control"
        name="email"
        [(ngModel)]="user.email"
        required
        pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
        #email="ngModel"
        [class.is-invalid]="email.invalid && email.touched"
      />
      <div *ngIf="email.errors && email.invalid && email.touched">
        <small class="text-danger" *ngIf="email.errors.required"
          >Email Id is required field</small
        >
        <small class="text-danger" *ngIf="email.errors.pattern"
          >Enter the valid value of the email</small
        >
      </div>
    </div>
    <div class="form-group">
      <label for="name">User Name:</label>
      <input
        type="text"
        class="form-control"
        name="name"
        [(ngModel)]="user.name"
        #name="ngModel"
        required
        [class.is-invalid]="name.invalid && name.touched"
      />

      <small class="text-danger" [class.d-none]="name.valid || name.untouched">
        User Name is required field
      </small>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input
        type="password"
        class="form-control"
        name="password"
        [(ngModel)]="user.password"
        required
        #password="ngModel"
        [class.is-invalid]="password.invalid && password.touched"
      />
    </div>
    <small
      class="text-danger"
      [class.d-none]="password.valid || password.untouched"
    >
      Pasword is required field</small
    >
    <div class="form-group">
      <label for="cfnpassword">Confirm password:</label>
      <input
        type="password"
        class="form-control"
        name="cfnpassword"
        (ngModel)="(user.password)"
        required
        #cfnpassword="ngModel"
        [class.is-invalid]="cfnpassword.invalid && cfnpassword.touched"
      />
    </div>
    <small
      class="text-danger"
      [class.d-none]="
        cfnpassword.value == password.value || cfnpassword.untouched
      "
    >
      Pasword and Confirm password must be the same</small
    >
    <div class="checkbox">
      <label><input type="checkbox" /> Remember me</label>
    </div>
    <button
      [disabled]="registrationform.form.invalid"
      type="submit"
      class="btn btn-info"
    >
      Register
    </button>
    <p class="text-end btextual" (click)="goToLogIn()">
      Existing user ? Login here
    </p>
  </form>
</div>
