<div class="container text-center mt-5">
  <button class="btn btn-info" (click)="getStats()">
    Click for statistics
  </button>
  <br />
  <br />
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Animals</th>
        <th scope="col">Users</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ statsUsers }}</td>
        <td>{{ statsAnimals }}</td>
      </tr>
    </tbody>
  </table>
  <app-add-animals></app-add-animals>
</div>
